<!-- wp:wp2/root-layout {"metadata":{"name":"Root Layout — 404"},"blockstudio":{"attributes":{"option":{"value":"404","label":"404"}}}} -->
<!-- wp:template-part {"slug":"layout-header-part-404","metadata":{"name":"404 Header"},"blockstudio":{"attributes":{"0":"o","slug":"layout-header-part-404","metadata":{"name":"404 Header"},"option":{"value":"layout-header","label":"Layout Header"}}}} /-->

<!-- wp:template-part {"slug":"layout-main-part-404","metadata":{"name":"404 Main"},"blockstudio":{"attributes":{"0":"o","slug":"layout-main-part-404","metadata":{"name":"404 Main"},"option":{"value":"layout-main","label":"Layout Main"}}}} /-->

<!-- wp:template-part {"slug":"layout-footer-part-404","metadata":{"name":"404 Footer"},"blockstudio":{"attributes":{"0":"o","slug":"layout-footer-part-404","metadata":{"name":"404 Footer"},"option":{"value":"layout-footer","label":"Layout Footer"}}}} /-->
<!-- /wp:wp2/root-layout -->