<!-- wp:wp2/root-layout {"metadata":{"name":"Root Layout — Archive"},"blockstudio":{"attributes":{"option":{"value":"archive","label":"Archive"}}}} -->
<!-- wp:template-part {"slug":"layout-header-part-archive","metadata":{"name":"Archive Header"},"blockstudio":{"attributes":{"0":"o","slug":"layout-header-part-archive","metadata":{"name":"Archive Header"},"option":{"value":"layout-header","label":"Layout Header"}}}} /-->

<!-- wp:template-part {"slug":"layout-main-part-archive","metadata":{"name":"Archive Main"},"blockstudio":{"attributes":{"0":"o","slug":"layout-main-part-archive","metadata":{"name":"Archive Main"},"option":{"value":"layout-main","label":"Layout Main"}}}} /-->

<!-- wp:template-part {"slug":"layout-footer-part-archive","metadata":{"name":"Archive Footer"},"blockstudio":{"attributes":{"0":"o","slug":"layout-footer-part-archive","metadata":{"name":"Archive Footer"},"option":{"value":"layout-footer","label":"Layout Footer"}}}} /-->
<!-- /wp:wp2/root-layout -->