<!-- wp:wp2/root-layout {"metadata":{"name":"Root Layout — Author"},"blockstudio":{"attributes":{"option":{"value":"author","label":"Author"}}}} -->
<!-- wp:template-part {"slug":"layout-header-part-author","metadata":{"name":"Author Header"},"blockstudio":{"attributes":{"0":"o","slug":"layout-header-part-author","metadata":{"name":"Author Header"},"option":{"value":"layout-header","label":"Layout Header"}}}} /-->

<!-- wp:template-part {"slug":"layout-main-part-author","metadata":{"name":"Author Main"},"blockstudio":{"attributes":{"0":"o","slug":"layout-main-part-author","metadata":{"name":"Author Main"},"option":{"value":"layout-main","label":"Layout Main"}}}} /-->

<!-- wp:template-part {"slug":"layout-footer-part-author","metadata":{"name":"Author Footer"},"blockstudio":{"attributes":{"0":"o","slug":"layout-footer-part-author","metadata":{"name":"Author Footer"},"option":{"value":"layout-footer","label":"Layout Footer"}}}} /-->
<!-- /wp:wp2/root-layout -->