<!-- wp:wp2/root-layout {"metadata":{"name":"Root Layout — Front Page"},"blockstudio":{"attributes":{"option":{"value":"front-page","label":"Front Page"}}}} -->
<!-- wp:template-part {"slug":"layout-header-part-front-page","metadata":{"name":"Front Page Header"},"blockstudio":{"attributes":{"0":"o","slug":"layout-header-part-front-page","metadata":{"name":"Front Page Header"},"option":{"value":"layout-header","label":"Layout Header"}}}} /-->

<!-- wp:template-part {"slug":"layout-main-part-front-page","metadata":{"name":"Front Page Main"},"blockstudio":{"attributes":{"0":"o","slug":"layout-main-part-front-page","metadata":{"name":"Front Page Main"},"option":{"value":"layout-main","label":"Layout Main"}}}} /-->

<!-- wp:template-part {"slug":"layout-footer-part-front-page","metadata":{"name":"Front Page Footer"},"blockstudio":{"attributes":{"0":"o","slug":"layout-footer-part-front-page","metadata":{"name":"Front Page Footer"},"option":{"value":"layout-footer","label":"Layout Footer"}}}} /-->
<!-- /wp:wp2/root-layout -->