<!-- wp:wp2/root-layout {"metadata":{"name":"Root Layout — Index"},"blockstudio":{"attributes":{"option":{"value":"index","label":"Index"}}}} -->
<!-- wp:template-part {"slug":"layout-header-part-index","metadata":{"name":"Index Header"},"blockstudio":{"attributes":{"0":"o","slug":"layout-header-part-index","metadata":{"name":"Index Header"},"option":{"value":"layout-header","label":"Layout Header"}}}} /-->

<!-- wp:template-part {"slug":"layout-main-part-index","metadata":{"name":"Index Main"},"blockstudio":{"attributes":{"0":"o","slug":"layout-main-part-index","metadata":{"name":"index Main"},"option":{"value":"layout-main","label":"Layout Main"}}}} /-->

<!-- wp:template-part {"slug":"layout-footer-part-index","metadata":{"name":"Index Footer"},"blockstudio":{"attributes":{"0":"o","slug":"layout-footer-part-index","metadata":{"name":"Index Footer"},"option":{"value":"layout-footer","label":"Layout Footer"}}}} /-->
<!-- /wp:wp2/root-layout -->