<!-- wp:wp2/root-layout {"metadata":{"name":"Root Layout — Page"},"blockstudio":{"attributes":{"option":{"value":"page","label":"Page"}}}} -->
<!-- wp:template-part {"slug":"layout-header-part-page","metadata":{"name":"Page Header"},"blockstudio":{"attributes":{"0":"o","slug":"layout-header-part-page","metadata":{"name":"Page Header"},"option":{"value":"layout-header","label":"Layout Header"}}}} /-->

<!-- wp:template-part {"slug":"layout-main-part-page","metadata":{"name":"Page Main"},"blockstudio":{"attributes":{"0":"o","slug":"layout-main-part-page","metadata":{"name":"page Main"},"option":{"value":"layout-main","label":"Layout Main"}}}} /-->

<!-- wp:template-part {"slug":"layout-footer-part-page","metadata":{"name":"Page Footer"},"blockstudio":{"attributes":{"0":"o","slug":"layout-footer-part-page","metadata":{"name":"Page Footer"},"option":{"value":"layout-footer","label":"Layout Footer"}}}} /-->
<!-- /wp:wp2/root-layout -->