<!-- wp:wp2/root-layout {"metadata":{"name":"Root Layout — Search"},"blockstudio":{"attributes":{"option":{"value":"search","label":"Search"}}}} -->
<!-- wp:template-part {"slug":"layout-header-part-search","metadata":{"name":"Search Header"},"blockstudio":{"attributes":{"0":"o","slug":"layout-header-part-search","metadata":{"name":"Search Header"},"option":{"value":"layout-header","label":"Layout Header"}}}} /-->

<!-- wp:template-part {"slug":"layout-main-part-search","metadata":{"name":"Search Main"},"blockstudio":{"attributes":{"0":"o","slug":"layout-main-part-search","metadata":{"name":"search Main"},"option":{"value":"layout-main","label":"Layout Main"}}}} /-->

<!-- wp:template-part {"slug":"layout-footer-part-search","metadata":{"name":"Search Footer"},"blockstudio":{"attributes":{"0":"o","slug":"layout-footer-part-search","metadata":{"name":"Search Footer"},"option":{"value":"layout-footer","label":"Layout Footer"}}}} /-->
<!-- /wp:wp2/root-layout -->